<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
  </head>
  <body>
    <form id="loginform" onsubmit="login(event)">
      <h2>Login</h2>
      <label for="email">email:</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Enter your email"
        required
      />
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter password"
        required
      />
      <button>Sign Up</button>
    </form>
    <p>Don't have account <a href="./signup.html">Sign Up</a></p>

    <div id="message"></div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.6/axios.min.js"
      integrity="sha512-06NZg89vaTNvnFgFTqi/dJKFadQ6FIglD6Yg1HHWAUtVFFoXli9BZL4q4EO1UTKpOfCfW5ws2Z6gw49Swsilsg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      async function login(e) {
        e.preventDefault();
        const logindetails = {
          email: e.target.email.value,
          password: e.target.password.value,
        };
        try {
          const response = await axios.post(
            "http://localhost:3004/user/login",
            logindetails
          );
          if (response.status === 201) {
            alert(response.data.message);
            alert("log in successfully");
            displaymessage(response.data.message,true)
            localStorage.setItem("token", response.data.token);
          }
        } catch (err) {
          console.log(err);
          displayMessage(err, false)
        }
      }
      function displaymessage(msg, successorfailure) {
        const errordiv=document.getElementById('message');
        errordiv.innerHTML='';
        if(successorfailure){
            errordiv.innerHTML += `<h3>${msg}</h3>`
        }else{
            errordiv.innerHTML += `<h3>${msg}</h3>`
        }
      }
    </script>
  </body>
</html>
